body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f ;
}

/* ---------------------------------------------- */

/* heading */
.big-heading {
  font-family: "Montserrat Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading-pricing {
  font-size: 3rem;
  line-height: 1.5;
}

/* sections  */
.white-section{
  background-color: #fff;
}

.colored-section{
  background-color: #EC255A;
  color: white;
}

#title {
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}
/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 5px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}
nav {
    padding: 0 3%;
    margin-bottom: 2.5rem;
}
.title-image {
  padding-left: 30px;
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}

.dawnload-btn {
  margin: 5% 3% 0 0;
}
.btn-div {
  margin-bottom: 15%;
}
/* features section */

#features {
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #EC255A;
  margin-bottom: 1rem;
  font-size: 4.5rem;
}
/* testimonials section */

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px 30px 0 0;
}

#press {
  padding-bottom: 3%;
  margin-bottom: 20px;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* pricing section */
#pricing {
  padding: 80px;
}
.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta section  */

.cta-heading {
  font-family: "Montserrat Black";
  font-size: 2.5rem;
}

/* footer section */
.social-icon {
  font-size: 2.2rem;
  margin: 20px 10px;
  color: #ef8172;
  text-decoration: none;
}
.social-icon:hover {
  color: #EC255A;
  font-size: 2.5rem;
}




@media (max-width: 1120px) {
  #title {
    text-align: center;
  }
  .title-image {
    margin-left: 20%;
    width: 70%;
    position: static;
  }

}


@media (max-width: 991.8px) {
  #title {
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .title-image {
    margin-left: 0;
    padding: 0% ;
    width: 60%;
    position: static;
    transform: rotate(0deg);
  }
}
